{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic HTML and Tailwind CSS</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet" />
  <link href="{% static "home.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body class="  cinzel text-xl   text-gray-800">



  <nav class="shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-7">
          <div>
            <!-- Website Logo -->
            <a href="#" class="flex items-center py-4 px-2">
              <span class="font-semibold text-gray-500 text-lg">LOGO</span>
            </a>
          </div>
          <!-- Primary Navbar items -->
          <div class="hidden md:flex items-center space-x-1">
            <a href="#" class="py-4 px-2  font-semibold nav_btn_lg transition duration-300">Home</a>
            <a href="#" class="py-4 px-2  font-semibold nav_btn_lg transition duration-300">Services</a>
            <a href="#" class="py-4 px-2  font-semibold nav_btn_lg transition duration-300">About</a>
            <a href="#" class="py-4 px-2  font-semibold nav_btn_lg transition duration-300">Contact Us</a>
          </div>
          <div id="boll" ></div>
        </div>
        <!-- Secondary Navbar items -->
        <div class="hidden md:flex items-center space-x-3 ">
          <a href="" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-gray-200 transition duration-300">Log In</a>
          <a href="" class="py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-400 transition duration-300">Sign Up</a>
        </div>
        <!-- Mobile menu button -->
        <div class="md:hidden flex items-center">
          <div class="outline-none mobile-menu-button   p-2   rounded  hover:bg-red-400">
            
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden mobile-menu">
      <ul class="">
        <li><a href="index.html" class="block text-xl px-2 py-4  nav_btn font-semibold">Home</a></li>
        <li><a href="#services" class="block text-xl px-2 py-4  nav_btn transition duration-300">Services</a></li>
        <li><a href="#about" class="block text-xl px-2 py-4 nav_btn transition duration-300">About</a></li>
        <li><a href="#contact" class="block text-xl px-2 py-4 nav_btn transition duration-300">Contact Us</a></li>
      </ul>
    </div>
    <script>
      const btn = document.querySelector("div.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </nav>
  <svg width="1116" height="2086" viewBox="0 0 1116 2086" fill="none" xmlns="http://www.w3.org/2000/svg"
    class=" squiggle">
    <path
      d="M0 1C0 1 487 1.00003 575 48C663 94.9999 575 197 575 197V447C575 447 486.636 445.017 487 482C487.363 518.84 678 641 575 516C472 391 656.278 508.556 643 482C631.124 458.248 575 482 575 482V927C575 927 552.171 882.991 526 881C501.152 879.11 487.678 895.629 472 915C444.168 949.388 432.95 996.487 464 1028C496.875 1061.37 540.767 1033.26 583 1013C630.572 990.182 623.47 910.062 676 915C742.487 921.25 741.38 1072.4 676 1086C618.338 1098 575 974 575 974V1191V1540L464 1558C464 1558 687 1764 676 1558C665 1352 575 1585 575 1585V2015C575 2015 499 2104 464 2081C429 2058 634 2015 634 2015L575 2138C575 2138 518 1993 493 2090C468 2187 658.398 2013 669 2081C677.344 2134.52 575 2183 575 2183V2596V2798C575 2798 414 2791 429 2719C444 2647 746 2833 695 2719C644 2605 575 2898 575 2898V3196C575 3196 727.692 3292.63 836 3330C940.979 3366.23 1115 3385 1115 3385"
      stroke="black" />
  </svg>

  <div class= " ">
    
    <img src=" {% static "img/welcome2.jpg" %} " alt="Wheel" class=" w-full " />
    <div class="flex text-2xl   flex-col justify-center items-center xl:px-20 2xl:px-40 lg:px-10 px-5 md:px-10 my-auto">
      <h2 class="spicy-rice-regular  lg:text-7xl text-5xl tex py-10">
        Leading the way in our field since 1993
      </h2>
      <p class="">
        <span class="text-3xl spicy-rice-regular "> Highlight Top Recipes : </span> Display a selection of
        your best or most popular recipes with attractive images. Include a short description and
        a link to the full recipe page.
      </p>
      <p class="">
        <span class="text-3xl spicy-rice-regular"> Example : </span>Try our top-rated recipes: [Recipe Name
        1], [Recipe Name 2], [Recipe Name 3]. Each one is crafted to perfection with step-by-step
        instructions and tips.
      </p>
      <button class=" text-white md:px-5 p-3 md:py-8 md:my-10 my-4 rounded ">
        Get Ticket
      </button>
    </div>
  </div>
  <div class="py-5 xl:px-20 2xl:px-40 lg:px-10 px-5 flex flex-col justify-center">
    <div class="wheel-container flex justify-center items-center">
      <img src=" {% static "img/wheel1.png" %} " alt="Wheel" class="md:w-96 md:h-96 w-40 h-40 wheel" />
    </div>
    <script src=" {% static "script.js" %} "></script>
    <div class="md:grid grid-cols-6">
      <div class="items-end flex justify-center col-span-2">
        <img src=" {% static "img/welcomebg.png" %} " alt="" class="" />
      </div>
      <div id="box" class="col-span-2"></div>
      <div class="hidden md:block col-span-2"><img src=" {% static "img/welcome1.png" %} " alt="" class="w-full h-full" /></div>
    </div>
  </div>
  </div>
  <div class="md:grid flex xl:px-20 2xl:px-40 lg:px-10 px-5  ooverflow-hidden flex-col-reverse grid-cols-2 py-5">
    <div class="py-10  overflow-hidden  md:my-auto">
      <div class="pop-outin   items-center justify-center flex">
        <img src=" {% static "img/welcome1.png" %} " alt="" class="w-36 p-4 overflow-hidden bg-white rounded-full h-36" />
      </div>
    </div>
    <!-- <div class="py-10 overflow-hidden md:my-auto bg-red-200 h-48 w-48">
      <div class="pop-outin items-center justify-center flex">
        <img src="img/welcome1.png" alt="" class="w-36 p-4 bg-white rounded-full h-36" />
      </div>
    </div> -->
    <div class="px-5 md:px-10 my-auto">
      <h2 class=" spicy-rice-regular   text-5xl tex py-10">
        Leading the way in our field since 1993
      </h2>
      
      <p class="">
        <span class="text-2xl spicy-rice-regular"> Highlight Top Recipes : </span> Display a selection of
        your best or most popular recipes with attractive images. Include a short description and
        a link to the full recipe page.
      </p>
      <p class="">
        <span class="text-xl spicy-rice-regular"> Example : </span>Try our top-rated recipes: [Recipe Name
        1], [Recipe Name 2], [Recipe Name 3]. Each one is crafted to perfection with step-by-step
        instructions and tips.
      </p>
      <button class=" text-white md:px-5 p-3 md:py-8 md:my-10 my-4 rounded ">
        Get Ticket
      </button>
    </div>
  </div>
  <div class="md:grid xl:px-20 2xl:px-40 lg:px-10 px-5 flex flex-col md:grid-cols-2 py-5">
    <div class="px-5 md:px-10 my-auto">
      <h2 class=" spicy-rice-regular text-gray-700 text-5xl tex py-10">
        Leading the way in our field since 1993
      </h2>

      
      <p class="">
        <span class="text-2xl spicy-rice-regular"> Highlight Top Recipes : </span> Display a selection of
        your best or most popular recipes with attractive images. Include a short description and
        a link to the full recipe page.
      </p>
      <p class="">
        <span class="text-xl spicy-rice-regular"> Example : </span>Try our top-rated recipes: [Recipe Name
        1], [Recipe Name 2], [Recipe Name 3]. Each one is crafted to perfection with step-by-step
        instructions and tips.
      </p>
      <button class=" text-white md:px-5 p-3 md:py-8 md:my-10 my-4 rounded ">
        Get Ticket
      </button>
    </div>
    <div class="md:my-auto overflow-hidden py-10">
      <div class=" items-center justify-center flex">
        <img src=" {% static "img/welcome3bg.png" %} " alt="" class="w-full h-full p-4  rounded-full " />
      </div>
    </div>
  </div>
  <div class="md:grid xl:px-20 2xl:px-40 lg:px-10 px-5 flex flex-col-reverse md:grid-cols-2 py-5">
    <div class="md:my-auto overflow-hidden py-10">
      <div class=" items-center justify-center flex">
        <img src=" {% static "img/welcome7bg.png" %} " alt="" class="w-full h-full p-4   " />
      </div>
    </div>
    <div class="px-5 md:px-10 my-auto">
      <h2 class=" spicy-rice-regular text-gray-700 text-5xl tex py-10">
        Leading the way in our field since 1993
      </h2>

      
      <p class="">
        <span class="text-2xl spicy-rice-regular"> Highlight Top Recipes : </span> Display a selection of
        your best or most popular recipes with attractive images. Include a short description and
        a link to the full recipe page.
      </p>
      <p class="">
        <span class="text-xl spicy-rice-regular"> Example : </span>Try our top-rated recipes: [Recipe Name
        1], [Recipe Name 2], [Recipe Name 3]. Each one is crafted to perfection with step-by-step
        instructions and tips.
      </p>
      <button class=" text-white md:px-5 p-3 md:py-8 md:my-10 my-4 rounded ">
        Get Ticket
      </button>
    </div>

  </div>
  <div class="md:grid xl:px-20 2xl:px-40 lg:px-10 px-5 flex flex-col md:grid-cols-2 py-5">
    <div class="px-5 md:px-10 my-auto">
      <h2 class=" spicy-rice-regular text-gray-700 text-5xl tex py-10">
        Leading the way in our field since 1993
      </h2>

      
      <p class="">
        <span class="text-2xl spicy-rice-regular"> Highlight Top Recipes : </span> Display a selection of
        your best or most popular recipes with attractive images. Include a short description and
        a link to the full recipe page.
      </p>
      <p class="">
        <span class="text-xl spicy-rice-regular"> Example : </span>Try our top-rated recipes: [Recipe Name
        1], [Recipe Name 2], [Recipe Name 3]. Each one is crafted to perfection with step-by-step
        instructions and tips.
      </p>
      <button class=" text-white md:px-5 p-3 md:py-8 md:my-10 my-4 rounded ">
        Get Ticket
      </button>
    </div>
    <div class="md:my-auto overflow-hidden py-10">
      <div class=" items-center justify-center flex">
        <img src="{% static "img/welcome4bg.png" %}" alt="" class="w-full h-full p-4  " />
      </div>
    </div>
  </div>
  <div class="md:grid xl:px-20 2xl:px-40 lg:px-10 px-5 flex flex-col-reverse md:grid-cols-2 py-5">
    <div class="md:my-auto overflow-hidden py-10">
      <div class=" items-center justify-center flex">
        <img src="{% static "img/welcome5bg.png" %}" alt="" class="w-full h-full p-4   " />
      </div>
    </div>
    <div class="px-5 md:px-10 my-auto">
      <h2 class=" spicy-rice-regular text-gray-700 text-5xl tex py-10">
        Leading the way in our field since 1993
      </h2>

      
      <p class="">
        <span class="text-2xl spicy-rice-regular"> Highlight Top Recipes : </span> Display a selection of
        your best or most popular recipes with attractive images. Include a short description and
        a link to the full recipe page.
      </p>
      <p class="">
        <span class="text-xl spicy-rice-regular"> Example : </span>Try our top-rated recipes: [Recipe Name
        1], [Recipe Name 2], [Recipe Name 3]. Each one is crafted to perfection with step-by-step
        instructions and tips.
      </p>
      <button class=" text-white md:px-5 p-3 md:py-8 md:my-10 my-4 rounded ">
        Get Ticket
      </button>
    </div>

  </div>
  <div class="md:grid xl:px-20 2xl:px-40 lg:px-10 px-5 flex flex-col md:grid-cols-2 py-5">
    <div class="px-5 md:px-10 my-auto">
      <h2 class=" spicy-rice-regular text-gray-700 text-5xl tex py-10">
        Leading the way in our  field since 1993
      </h2>

     
      <p class="">
        <span class="text-2xl spicy-rice-regular"> Highlight Top Recipes : </span> Display a selection of
        your best or most popular recipes with attractive images. Include a short description and
        a link to the full recipe page.
      </p>
      <p class="">
        <span class="text-xl spicy-rice-regular"> Example : </span>Try our top-rated recipes: [Recipe Name
        1], [Recipe Name 2], [Recipe Name 3]. Each one is crafted to perfection with step-by-step
        instructions and tips.
      </p>
      <button class=" text-white md:px-5 p-3 md:py-8 md:my-10 my-4 rounded ">
        Get Ticket
      </button>
    </div>
    <div class="md:my-auto overflow-hidden py-10">
      <div class=" items-center justify-center flex">
        <img src=" {% static "img/welcome6bg.png" %} " alt="" class="w-full h-full p-4  " />
      </div>
    </div>
  </div>

  <footer class=" bg-slate-700  ">


    <div class=" md:grid gap-5 py-10 divide-x-2 grid-cols-5 px-20">
      <div class="col-span-1 ">
        <!-- <img class="w-full rounded-xl " src="./img/header_4.jpeg" /> -->
         Logo
      </div>
      <div class=" px-5  col-span-3">

        <h2 class="text-2xl">
          Our Mission
        </h2>
        <p class="text-xl">
          Our mission is to engage people with cultural heritage and to improve history education worldwide.
        </p>
        <div class="pt-5 flex gap-2">
        
        </div>
      </div>
    </div>
   
    <div class="text-xl flex flex-col  gap-2 py-10 text-center">
     
    </div>
    <div id="box2" ></div>
    <div id="fotter_2" class="md:flex justify-center py-5 md:divide-x-2   items-center text-center">
      <p class="px-2">Powered By JMD</p>
      <p class="px-2">Copyright © 2024 JMD</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
  integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/split-type@0.3.3"></script>
<script>
  const width = window.innerWidth;
  gsap.to("#box", {
    duration: 3, // Duration of the animation
    x: 100,
    y: -400,
    rotation: 360, // Rotate 360 degrees
    backgroundColor: "#e88d67", // Change background color
    borderRadius: "50%", // Make the box circular
    ease: "power2.inOut", // Easing function
    yoyo: true, // Make the animation reverse back and forth
    repeat: -1, // Repeat indefinitely
  });
  gsap.to("#box2", {
    duration: 3, // Duration of the animation
    x: 100,
    y: -400,
    rotation: 720, // Rotate 360 degrees
    backgroundColor: "#e88d67", // Change background color
    borderRadius: "50%", // Make the box circular
    ease: "power2.inOut", // Easing function
    yoyo: true, // Make the animation reverse back and forth
    repeat: -1, // Repeat indefinitely
  });
  gsap.to("#boll", {
    duration: 2, // Duration of the animation
    x: 100,
    rotation: 360, // Rotate 360 degrees
    backgroundColor: "#e88d67", // Change background color
    borderRadius: "50%", // Make the box circular
    ease: "power2.inOut", // Easing function
    yoyo: true, // Make the animation reverse back and forth
    repeat: -1, // Repeat indefinitely
  });
  const myText = new SplitType("#my-text");

  const svg = document.querySelector("svg.squiggle");
  const path = svg.querySelector("path");

  const scroll = () => {
    const distance = window.scrollY;
    const totalDistance = svg.clientHeight - window.innerHeight;

    // const percentage = distance / totalDistance ;
    const percentage = distance / totalDistance ;

    const pathLength = path.getTotalLength();

    path.style.strokeDasharray = `${pathLength}`;
    path.style.strokeDashoffset = `${(pathLength + 2500) * (1 - percentage)}`;
  };
  scroll();
  window.addEventListener("scroll", scroll);
</script>
</body>

</html>


